# Copy this file to .env.local and fill in your own values.
# See "Guide How to get Google Maps API Key.pdf" for how to obtain a Maps key.

# Google Maps API Key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# Xano API Configuration
NEXT_PUBLIC_XANO_API_URL_ECOSYSTEM=
NEXT_PUBLIC_XANO_API_URL_AUTH=
NEXT_PUBLIC_XANO_API_URL_LOGS=
NEXT_PUBLIC_XANO_API_URL_MEMBERS=
NEXT_PUBLIC_XANO_API_KEY=
NEXT_PUBLIC_XANO_ORGS_ENDPOINT=/Get_all_organisations
